In [1]:
# Importing Required Libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import requests
from selenium.common.exceptions import NoSuchElementException

Q1) Scrape the details of most viewed videos on YouTube from Wikipedia:
    Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
     You need to find following details:
        
        A) Rank
        
        B) Name
        
        C) Artist
        
        D) Upload date
        
        E) Views

In [2]:
driver = webdriver.Chrome("C://chromedriver.exe") # Loading chrome driver
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos") # website from which we will scrape data

In [52]:
details=[]

for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td"):
    details.append(i.text)

In [53]:
rank=[]
name=[]
artist=[]
views=[]
upload=[]
count=0
#seperating details using indexing
while count<int(len(details)):
    rank.append(details[count])
    name.append(details[count+1])
    artist.append(details[count+2])
    views.append(details[count+3])
    upload.append(details[count+4])
    count=count+6

In [54]:
#creating dataframe
df=pd.DataFrame({})
df["Rank"]=rank
df["Name"]=name
df["Artist"]=artist
df['Upload date']=upload
df['Views']=views
df

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.44
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.32
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.29
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.24
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.08
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.43
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.16
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.05
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.97
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.95
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.78
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.45
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.43
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.34
14,15.,"""Dame Tu Cosita""[40]",El Chombo,"April 5, 2018",3.28
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.27
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.24
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.05
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.05
19,20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.05
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",3.02
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.01
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.01
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.97
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.90
25,26.,"""Wheels on the Bus""[51]",Cocomelon – Nursery Rhymes,"May 24, 2018",2.89
26,27.,"""Hello""[52]",Adele,"October 22, 2015",2.83
27,28.,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",2.82
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.80
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.77

Q 2) Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
driver = webdriver.Chrome("C://chromedriver.exe") # Loading chrome driver
driver.get("https://www.bcci.tv/") # website from which we will scrape data

In [3]:
# selecting fixtures option from international tab 
fixtures=driver.find_element_by_xpath("//div[@class='drop-down__options']/ul/li[1]/a").get_attribute("href")
driver.get(fixtures)

In [8]:
#create empty list
match_title=[]
place=[]
series=[]
date=[]
time=[]
# scraping match title
for title in driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/p"):
    match_title.append(title.text.split("\n")[0])
# scraping place    
for p in driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/p"):
    place.append(p.text.split("\n")[1])
# scraping series
for s in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]"):
    series.append(s.text)        
# scraping date
for d in driver.find_elements_by_xpath("//div[@class='fixture__full-date']"):
    date.append(d.text.split("\n")[0:2])
#scraping time
for t in driver.find_elements_by_xpath("//div[@class='fixture__full-date']"):
    time.append(t.text.split("\n")[-1])

In [10]:
series=pd.DataFrame({})
series["Match Title"]=match_title
series["Series"]=series
series["Place"]=place
series["Date"]=date
series["Time"]=time
series

,Match Title,Series,Place,Date,Time
0,Final,Final,"The Ageas Bowl, Southampton","[18, JUNE]",15:30 IST
1,1st Test,1st Test,"Trent Bridge, Nottingham","[04, AUGUST]",15:30 IST
2,2nd Test,2nd Test,"Lord's, London","[12, AUGUST]",15:30 IST
3,3rd Test,3rd Test,"Headingley, Leeds","[25, AUGUST]",15:30 IST
4,4th Test,4th Test,"The Oval, London","[02, SEPTEMBER]",15:30 IST
5,5th Test,5th Test,"Old Trafford, Manchester","[10, SEPTEMBER]",15:30 IST

Q3) Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [12]:
driver = webdriver.Chrome("C://chromedriver.exe") # Loading chrome driver
driver.get("https://www.guru99.com/") # website from which we will scrape data

In [20]:
href = []
for i in driver.find_elements_by_xpath("//li[@class = 'fa fa-chevron-circle-right']/a"):
        if i.text == 'Selenium':
            href.append(i.get_attribute('href'))

driver.get(href[0])

In [25]:
tutorial = driver.find_element_by_xpath("//td [@class = 'responsivetable']/a [@title = 'Selenium Exception Handling (Common Exceptions List)']")
tutorial.click()

In [26]:
exception_name=[]
description=[]

# Exception Name
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
    exception_name.append(i.text)
# Description of Exception
for desc in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
    description.append(desc.text)

In [27]:
# creating dataframe
df=pd.DataFrame({})
df['Exception Name']=exception_name[1:]  # slice at 1 because we dont want the heading
df['Description']=description[1:]
df

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q4) Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

    A) Rank
    B) State
    C) GSDP(18-19)
    D) GSDP(17-18)
    E) Share(2017)
    F) GDP($ billion)

    Note: - From statisticstimes home page you have to reach to economy page through code.

In [29]:
driver = webdriver.Chrome("C://chromedriver.exe") # Loading chrome driver
driver.get("http://statisticstimes.com/") # website from which we will scrape data

In [30]:
# India's GDP
india=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").get_attribute("href")
driver.get(india)

In [31]:
GDP = driver.find_element_by_xpath("//ul[@style = 'list-style-type:none;margin-left:20px;']/li/a").get_attribute('href')
driver.get(GDP)

In [32]:
# Scrapping Details
ranks=[]
states=[]
GSDP_18_19=[]
GSDP_19_20=[]
share_18_19=[]
GDP_in_billion=[]

# Rank
for rank in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[1]"):
    ranks.append(rank.text)
# States
for state in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[2]"):
    states.append(state.text)
# GSDP for 19-20
for gsdp in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[3]"):
    GSDP_19_20.append(gsdp.text)
# GSDP 18-19
for gsdp in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[4]"):
    GSDP_18_19.append(gsdp.text)      
# Share    
for share in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[5]"):
    share_18_19.append(share.text)    
# GDP in $ billion
for gdp in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[6]"):
    GDP_in_billion.append(gdp.text)

In [33]:
df=pd.DataFrame({})
df["Rank"]=ranks
df["State"]=states
df["GSDP(19-20)"]=GSDP_19_20
df["GSDP(18-19)"]=GSDP_18_19
df["Share(18-19)"]=share_18_19
df["GDP($ billion)"]=GDP_in_billion
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

Q5) Scrape the details of trending repositories on Github.com.
    Url = https://github.com/
You have to find the following details:

    A) Repository title
    B) Repository description
    C) Contributors count
    D) Language used

In [57]:
driver = webdriver.Chrome("C://chromedriver.exe") # Loading chrome driver
driver.get("https://github.com/ ") # website from which we will scrape data

# Selecting Trending option from from explore
trending=driver.find_element_by_xpath("//details[@class='HeaderMenu-details details-overlay details-reset width-full']/div/ul[2]/li[3]/a").get_attribute("href") 
driver.get(trending)

In [58]:
#creating empty list to store scrapped data
rep_title=[]
rep_description=[]
cont_count=[]
lang_used=[]
url_list=[]

In [59]:
# Respository title
for title in driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a"):
    rep_title.append(title.text)

In [60]:
for url in driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a"):
    url_list.append(url.get_attribute("href"))

In [61]:
# opening each repository
for i in url_list:
    driver.get(i)
    try:  # Repository Description
        description=driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/p")
        rep_description.append(description.text)
    except NoSuchElementException as e:
        rep_description.append("-")
     
    try: # Contributors Count  
        count=driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div[5]/div/h2/a[contains(text(),'Contributors ')]")
        cont_count.append(count.text.split(" ")[1])
    except NoSuchElementException as e:
        cont_count.append("-")
    
    try: # Language used
        lang=driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div[6]/div/ul")
        lang_used.append(lang.text.replace("\n"," "))
    except NoSuchElementException as e:
        lang_used.append("-")

In [62]:
#create dataframe
df=pd.DataFrame({})
df["Repository title"]=rep_title
df["Repository description"]=rep_description
df["Contributors count"]=cont_count
df["Language used"]=lang_used
df

,Repository title,Repository description,Contributors count,Language used
0,pallupz / covid-vaccine-booking,This very basic script can be used to automate...,-,-
1,slidevjs / slidev,Presentation Slides for Developers (Public Bet...,11,TypeScript 57.8% Vue 30.0% CSS 5.9% JavaScript...
2,Uniswap / uniswap-v3-core,🦄 🦄 🦄 Core smart contracts of Uniswap v3,-,-
3,pixie-labs / pixie,Instant Kubernetes-Native Application Observab...,-,-
4,flutter / flutter,Flutter makes it easy and fast to build beauti...,-,-
5,axios / axios,Promise based HTTP client for the browser and ...,-,-
6,andymatuschak / orbit,-,-,-
7,dogecoin / dogecoin,very currency,-,-
8,abuanwar072 / Flutter-Responsive-Admin-Panel-o...,Responsive Admin Panel or Dashboard using Flutter,-,-
9,jlevy / the-art-of-command-line,"Master the command line, in one page",162,-
10,public-apis / public-apis,A collective list of free APIs,-,-
11,jwasham / coding-interview-university,A complete computer science study plan to beco...,-,-
12,kcp-dev / kcp,kcp is a prototype of a Kubernetes API server ...,8,Go 82.3% Shell 16.9% Makefile 0.8%
13,LeCoupa / awesome-cheatsheets,👩‍💻👨‍💻 Awesome cheatsheets for popular program...,95,JavaScript 53.0% CSS 18.6% Shell 15.0% PHP 9.2...
14,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",80,-
15,seemoo-lab / openhaystack,Build your own 'AirTags' 🏷 today! Framework fo...,-,-
16,vinta / awesome-python,"A curated list of awesome Python frameworks, l...",-,-
17,Azure / counterfit,a CLI that provides a generic automation layer...,-,-
18,imarvinle / awesome-cs-books,经典编程书籍大全，涵盖：计算机系统与网络、系统架构、算法与数据结构、前端开发、后端开发、移动...,-,-
19,audacity / audacity,Audio Editor,126,C 48.6% C++ 19.8% Python 13.2% Shell 7.4% Make...
20,Uniswap / uniswap-v3-periphery,🦄 🦄 🦄 Peripheral smart contracts for interacti...,-,-
21,itdevbooks / pdf,编程电子书，电子书，编程书籍，包括C，C#，Docker，Elasticsearch，Git...,-,-
22,tokio-rs / console,tokio-console prototypes,-,-
23,alibaba / DataX,-,31,Java 96.4% Python 3.5% Shell 0.1%
24,storybookjs / storybook,"📓 The UI component explorer. Develop, document...",-,

Q 6 ) Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [69]:
driver = webdriver.Chrome("C://chromedriver.exe") # Loading chrome driver
driver.get(" https://www.billboard.com/")

In [73]:
href = [] #Creating href list to collect "HOT 100" href details.
for i in driver.find_elements_by_xpath("//li [@class = 'header__subnav__item']/a"):
    if i.text == 'HOT 100':
        href.append(i.get_attribute('href'))
driver.get(href[0])

In [95]:
song = []
artist = []
last_week_rank = []
peak_rank = []
week_onboard = []

for k in driver.find_elements_by_xpath("//span[@class = 'chart-element__information__song text--truncate color--primary']"):
    song.append(k.text)
for l in driver.find_elements_by_xpath("//span[@class = 'chart-element__information__artist text--truncate color--secondary']"):
    artist.append(l.text)
for m in driver.find_elements_by_xpath("//div[@class = 'chart-element__meta text--center color--secondary text--last']"):
    last_week_rank.append(m.text)
for n in driver.find_elements_by_xpath("//div[@class = 'chart-element__meta text--center color--secondary text--peak']"):
    peak_rank.append(n.text)
for o in driver.find_elements_by_xpath("//div[@class = 'chart-element__meta text--center color--secondary text--week']"):
    week_onboard.append(o.text)

In [97]:
# creating dataframe and saving scraped data into it
df=pd.DataFrame({})
df["Song"]=song
df['Artist']=artist
df['Last rank']=last_week_rank
df['Peak rank']=peak_rank
df['weeks on chart']=week_onboard
df

,Song,Artist,Last rank,Peak rank,weeks on chart
0,Save Your Tears,The Weeknd & Ariana Grande,6,1,20
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),2,1,8
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,3,1,6
3,Rapstar,Polo G,1,1,3
4,Levitating,Dua Lipa Featuring DaBaby,5,5,30
...,...,...,...,...,...
95,4 Da Gang,42 Dugg & Roddy Ricch,100,67,4
96,Blame It On You,Jason Aldean,-,97,1
97,Wasted On You,Morgan Wallen,92,9,16
98,Way Less Sad,AJR,-,99,1
99,Clear Da Air,Moneybagg Yo,-,100,1

Q 7) Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [123]:
driver = webdriver.Chrome("C://chromedriver.exe") # Loading chrome driver
driver.get("https://www.naukri.com/")

In [124]:
recu = driver.find_element_by_xpath("//ul[@class = 'midSec menu']/li[2]/a").get_attribute('href')
driver.get(recu)

In [125]:
# Sending keyword Data Science to search bar
search_bar=driver.find_element_by_xpath("//input[@class='sugInp']")
search_bar.send_keys("Data Science")
# Clicking search button
search_button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
search_button.click()

In [144]:
name = []
desig = []
comp = []
skill = []
loc = []

for i in driver.find_elements_by_xpath("//span[@class = 'fl ellipsis']"):
    name.append(i.text)
for j in driver.find_elements_by_xpath("//span[@class = 'ellipsis clr']"):
    desig.append(j.text)
for k in driver.find_elements_by_xpath("//a[2][@class='ellipsis']"):
    comp.append(k.text)
for l in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    skill.append(l.text)    

url_list=[]
for urls in driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]"):
    url_list.append(urls.get_attribute("href"))
for i in url_list:
    driver.get(i)
    try:
        Loc=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a")
        loc.append(Loc.text)
    except NoSuchElementException as e:
        Loc.append("-")

In [145]:
# creating dataframe and saving scraped data into it
df=pd.DataFrame({})
df["Name"] = name
df['Designation'] = desig
df['Company'] = comp
df['Location'] = loc
df['Skill they hire for'] = skill
df

,Name,Designation,Company,Location,Skill they hire for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,Chandigarh,"Web Designing, html5, Angular.js, seo, hadoop,..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
5,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
9,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
11,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Nagpur,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
16,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
17,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
18,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
22,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
27,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,Others,"Signal Processing, Machine Learning, Neural Ne..."
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
31,Radha Manivasagam,HR Executive,Techcovery,Bengaluru / Bangalore,"Python, Artificial Intelligence, Machine Learn..."
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
33,Prateek Kumar,Head,Trisect,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
34,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
35,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
45,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
46,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
47,Amir Chowdhury,Managing Partner,Granular.ai,,"Machine Learning, Data Science, Product Manage..."
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida,"consulting, Education Counseling, Educational ..."

Q 8) Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [147]:
driver = webdriver.Chrome("C://chromedriver.exe") # Loading chrome driver
driver.get(" https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [149]:
# ceate empty list to store the details
book = []
author = []
volume = []
publisher = []
genre = []
# Book_name
for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]"):
    book.append(i.text)
# Author_name
for j in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]"):
    author.append(j.text)
# Volumes sold
for k in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]"):
    volume.append(k.text)
# Publisher
for l in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]"):
    publisher.append(l.text)
# Genre
for m in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]"):
    genre.append(m.text)

In [150]:
# Create Dataframe
df=pd.DataFrame({})
df["Book Name"]=book
df["Author name"]=author
df["Volumes sold"]=volume
df["Publisher"]=publisher
df["Genre"]=genre
df

,Book Name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q 9) Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [151]:
driver = webdriver.Chrome("C://chromedriver.exe") # Loading chrome driver
driver.get("https://www.imdb.com/list/ls095964455/")

In [152]:
name = []
year = []
genre = []
run_time = []
ratings = []
votes = []
# Name
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a"):
    name.append(i.text)
# Year
for j in driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]"):
    year.append(j.text)
# Genre
for k in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[5]"):
    genre.append(k.text)
# Run Time
for l in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[3]"):
    run_time.append(l.text)
# Votes
for n in driver.find_elements_by_xpath("//div[@class='lister-item-content']/div[1]/div/span[2]"):
    ratings.append(n.text)
# Ratings
for m in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]"):
    votes.append(m.text)

In [153]:
# Creating Dataframe
df = pd.DataFrame({})
df["Name"] = name
df["Year span"] = year
df["Genre"] = genre
df["Run time"] = run_time
df["Ratings"] = ratings
df["Votes"] = votes
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,805,124"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"849,761"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"868,780"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"260,547"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"221,565"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,266"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,716"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"165,795"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.2,"34,630"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"188,638"

Q 10) Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

## Skipped as Website not reachable

# END